
server:
  port: 8002
spring:
  datasource:
    url: jdbc:mysql://c-db:3306/sakila?useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: root
  cloud:
    nacos:
      discovery:
        server-addr: nacos:8848
        username: nacos
        password: nacos
  application:
    name: c-service
management:
  tracing:
    sampling:
      probability: 1.0
logging:
  pattern:
    level: ${spring.application.name:},%X{traceId:-},%X{spanId:-}

